:root {
    --main-background: #2f3896;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
}

.intro-section, .projects-section, .about-section, .contact-section {
    padding: 110px 5%;
}

nav {
    background:linear-gradient(#272d7e, rgba(39, 45, 126, 0.96));
    padding: 0 5%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: opacity 200ms ease-in-out;
}

.logo {
    color: aliceblue;
    font-size: 45px;
    font-weight: 800;
}

ul {
    width: 500px;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.navigation {
    border: none;
    width: 100px;
    height: 30px;
}

.intro-section {
    background-color: var(--main-background);
    color: aliceblue;
    height: calc(100vh - 64px);
    font-size: 30px;
    display: flex;
    align-items: center;
}

.intro-message {
    padding: 10px 0px;
    transition: opacity 200ms ease-in-out;
    position: sticky;
}

.projects-section {
    background-color: var(--main-background);
    min-height: 100vh;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 720px));
    justify-content: center;
    column-gap: 50px;
    row-gap: 150px;
}

.project-ctnr {
    display: flex;
    align-items: center;
}

.placeholder-img {
    background-color: gray;
    height: 200px;
    width: 300px;
}

.project-description {
    background-color: #fff;
    padding: 10px;
    height: 160px;
    width: 420px;
}

.about-section {
    background-color: var(--main-background);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-section p {
    max-width: 500px;
    font-size: 2em;
}

.contact-section {
    background-color: var(--main-background);
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 .contact-message label, .contact-name label, .contact-email label {
    display: none;
}

.contact-name, .contact-email, .contact-message {
    width: 100%;
}

.contact-name input, .contact-email input, .contact-message textarea {
    width: 100%;
    padding: 3px;
}

.contact-message textarea {
    resize: none;
}

footer {
    background-color: rgb(153, 190, 96);
    height: 60px;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 800px) {
    .project-ctnr {
        flex-direction: column;
    }
}

@media (min-width: 626px) {
    .contact-name, .contact-email, .contact-message {
        width: 500px;
    }
}