
@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Cutive';
    src: url("./Fonts/CutiveMono-Regular.ttf");
}

@font-face {
    font-family: 'Dosis';
    src: url('./Fonts/Dosis-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Didact Gothic';
    src: url('./Fonts/DidactGothic-Regular.ttf');
}

:root {
    /* --main-background:  #191d52e8; */
    /* --main-background:  #2B2E63; */
    --main-background:  #1b1d3d;
    --main-font-color: #FAF9F6;
    --custom-pink: #f59f9b;
    --custom-green: #00a0a0f6;
}

* {
    font-family: 'Didact Gothic';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-font-color);
    background-color: var(--main-background);
}

section {
    padding: 110px 5% 0 5%;
    min-height: 900px;
}

nav {
    background-color: #2b3072ec;
    padding: 0 5%;
    height: 64px;
    width: 100vw;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: opacity 200ms ease-in-out;
}

.logo {
    font-weight: 800;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

.navigation {
    border: none;
    background-color: transparent;
    color: var(--main-font-color);
    width: 150px;
    height: 30px;
    font-size: 0.6em;
    letter-spacing: 0.1em;
}

.navigation:hover {
    cursor: pointer;
}

.highlighted {
color: var(--custom-pink);
}

.projects-button, .about-button {
    border-right: 3px solid var(--custom-pink);
}

.intro-section {
    padding: 0 5%;
    height: 100vh;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 150px;
    position: relative;
}

.intro-message {
    font-weight: normal;
    font-size: 1.7em;
    padding: 10px 0px;
    position: sticky;
}

span {
    color: var(--custom-pink);
}

.big-buttons {
    height: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-button {
    height: 250px;
    font-size: 2.4em;
    color: #fcfcfc;
    text-align: left;
    padding: 50px 0 0 20px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 15px #151733;
    position: relative;
    overflow: hidden;
}

.big-button p {
    font-family: 'Cutive';
    text-shadow: black 3px 3px 5px;
}

.big-button:hover {
    scale: 101%;
    cursor: pointer;
}

.descale-text {
    scale: 99%;
}

.big-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(75%) contrast(75%);
    z-index: -1;
}

.big-about::before {
    background-image: url('./images/growtika-9WnjxT1NCoY-unsplash.jpg');
}

.big-projects::before {
    background-image: url('./images/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg');
}

.big-contact::before {
    background-image: url('./images/scott-graham-5fNmWej4tAA-unsplash.jpg');
}

.about-section {
    height: 100vh;
    min-height: 800px;
}

.about-heading, .projects-heading, .contact-heading {
    width: 100%;
    font-weight: normal;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about-heading::before, .about-heading::after, .projects-heading::before, .projects-heading::after, .contact-heading::before, .contact-heading::after {
    content: "";
    position: absolute;
    top: 49%;
    height: 1px;
    background-color: var(--custom-green);
    width: 45%;
    margin-left: 2%;
}

.about-heading::before, .projects-heading::before, .contact-heading::before {
    margin-left: -47%;
}

.about-ctnr {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.about-section p {
    max-width: 600px;
    font-size: 2em;
}

.skills-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 500px;
}

.skill-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.5em;
}

.projects-section {
    min-height: 800px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 100px;
    height: fit-content;
}

.project-ctnr {
    display: flex;
    padding: 50px;
    position: relative;
}

.project-right {
    flex-direction: row-reverse;
}

.placeholder-img {
    background-color: var(--custom-pink);
    height: 430px;
    max-width: 840px;
    width: 90%;
}

.project-img {
    height: auto;
    max-width: 840px;
    width: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.project-ctnr::before {
    content: "";
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    max-width: 900px;
    background-color: var(--custom-green);
    z-index: -1;
}

.project-left::before {
    left: 100px;
}

.project-right::before {
    right: 100px;
}

.project-description {
    background-color: var(--main-font-color);
    color: #111111;
    padding: 10px;
    height: 250px;
    width: 500px;
    position: absolute;
    top: 20%;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-left > .project-description {
    left: 50%;
}

.project-right > .project-description {
    right: 50%;
}

.project-links {
    align-self: end;
}

a {
    padding: 10px;
}



.contact-section {
    height: calc(100vh - 60px);
    min-height: 800px;
}

.contact-section h3 {
    width: 100%;
    text-align: center;
    padding: 100px 0px 50px 0px;
}

.contact-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 .contact-message label, .contact-name label, .contact-email label {
    display: none;
}

.contact-name, .contact-email, .contact-message {
    width: 100%;
}

.contact-name input, .contact-email input, .contact-message textarea {
    width: 100%;
    padding: 3px;
}

.contact-message textarea {
    resize: none;
}

.submit-form {
    height: 30px;
    width: 80px;
    background-color: var(--custom-pink);
    border: none;
}

.submit-form:hover {
    cursor: pointer;
    background-color:#f38c86;
}

footer {
    height: 60px;
    border-top: 1px solid var(--custom-green);
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

@media (min-width: 626px) {
    .contact-name, .contact-email, .contact-message {
        width: 500px;
    }
}

@media (max-width: 980px) {
    nav {
        height: 128px;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .intro-message {
        margin: auto;
    }
    section {
        padding: 174px 5% 0 5%;
    }

    .big-buttons {
        display: none;
    }
}

@media (max-width: 1120px) {
    .project-ctnr {
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }

    .project-description {
        position: static;
        width: 90%;;
    }

    .project-ctnr::before {
        height: 90%;
        width: 90%;
        top: 5%;
    }

    .project-left::before {
        left: 10%;
    }

    .project-right::before {
        right: 10%;
    }
}

@media (max-width: 1400px) {
    .about-ctnr {
        flex-direction: column;
        gap: 100px;
        text-align: center;
    }

    .about-section {
        height: auto;
    }

    .skills-logos {
        gap: 50px;
        max-width: 400px;
    }
}